@model IEnumerable<MusicStoreCore.Data.DomainClasses.Album>

@{
    ViewData["Title"] = "Browse";
    //Layout = "~/Views/Shared/_LayoutWithLogo.cshtml"; 
}


<h1>Browse @ViewBag.Genre (@Model.Count())</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
        </tr>
}
    </tbody>
</table>
