@model IEnumerable<MusicStoreCore.Data.DomainClasses.Genre>

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_LayoutWithLogo.cshtml"; //This is not necessary because via the _ViewStart it knows the general layout to render
}

<h1>Genres</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Browse", "Browse", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
